body {
  font-size: 1.3rem;
  margin: 0;
}

:root {
  background-color: #edf4fc;
}

input,
button {
  font-size: 1.1rem;
}

.login-form {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf4fc;
}

.login-form > h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
  text-align: center;
}

.form {
  border: 5px solid #d7e7f8;
  padding: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  background-color: white;
  border-radius: 50px;
  background: #ffffff;
}

.form > h2 {
  margin: 0px;
  font-weight: 500;
  padding: 0;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 20rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.innerDiv > input {
  border-radius: 0.5rem;
  height: 2rem;
  border: 0.1rem solid rgb(157, 186, 249);
}

.innerDiv > input:hover {
  background-color: #d7e7f8;
}

/* incomplete task */
.innerDiv > input:active {
  background-color: #d7e7f8;
  border: 0.1rem solid rgb(126, 167, 255);
}

.submitbtn {
  font-size: 1.2rem;
  width: 10rem;
  text-align: center;
  background-color: #e30a0a;
  border: none;
  padding: 0.4rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.submitbtn:hover {
  background-color: #b20707;
  cursor: pointer;
}

.innerDiv > input {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 12px;
  background: #ffffff;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  padding: 0.9rem;
}

.logo {
  height: 9rem;
  width: auto;
  margin-top: 1rem;
}

.forgotpassword {
  font-size: medium;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  border-radius: 10px;
  padding-bottom: 2px;
  background-color: black;
  border: 2px solid black;
  text-decoration: none;
  color: white;
}

.forgotpassword:hover {
  color: whitesmoke;
}

.head > h1 {
  font-weight: 400;
  text-align: center;
}

.procedure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3rem;
  font-size: 1.3rem;
  background-color: #d7e7f8;
}

.DOCUMENTS {
  font-size: medium;
  border-radius: 1.3rem;
  background-color: #edf4fc;
  padding: 2rem;
  box-shadow: 8px 10px rgba(136, 136, 136, 0.2);
  line-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

.procedure > h2 {
  padding-top: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.proceed {
  font-size: 1.6rem;
  text-align: center;
  background-color: #07a243;
  border: none;
  padding: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.7rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}
.proceed:hover {
  margin-top: 1.6rem;
  margin-bottom: 0.1rem;
  box-shadow: 5px 6px rgba(136, 136, 136, 0.2);
  cursor: pointer;
}
.download {
  font-size: 1.5rem;
  background-color: #0317d1;
  border: none;
  padding: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  margin-top: 1.7rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.download:hover {
  margin-top: 1.6rem;
  margin-bottom: 0.1rem;
  box-shadow: 5px 6px rgba(136, 136, 136, 0.2);
  cursor: pointer;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Form.js */
.appForm {
  width: 75vw;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: white;
  margin: 2rem;
}

.upperDiv,
.addressDiv,
.certificateDiv,
.originals,
.sufficientCopies,
.universityName {
  margin: 2rem;
}

.upperDiv {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 14rem;
}

.upperDivItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upperDivItems > input {
  margin-left: 1rem;
  width: 46%;
  padding: 0.3rem 0.7rem;
  border: none;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.dropdownbranch > div,
.dropdownYear > div {
  width: 50%;
}
.dropdownYear-button,
.dropdownBranch-button {
  background-color: white;
  color: rgb(81, 81, 81);
  cursor: pointer;
  text-align: left;
  padding: 0.3rem 0.6rem 0.5rem 0.6rem;
  border: none;
  width: 100%;
  box-shadow: inset -2px -2px 2px 2px #ccc;
  z-index: 131;
  display: flex;
  justify-content: space-between;
}

.dropdownYear-content,
.dropdownBranch-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownYear-content button,
.dropdownBranch-content button {
  float: none;
  color: black;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  border: none;
  background-color: white;
  display: block;
  text-align: left;
}
.dropdownYear-content button:hover,
.dropdownBranch-content button:hover {
  background-color: #ddd;
  color: black;
}

.certificatesOptions {
  display: flex;
  flex-direction: row;
  margin: 0.7rem 0;
}
.certificatesOptions > div {
  margin: 0 3rem;
}
input.Certificate {
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.4rem;
}
.addressDiv {
  display: flex;
  justify-content: space-between;
}
.addressDiv > input {
  width: 81.5%;
  padding: 0.3rem 0.7rem;
  border: none;
  margin-left: 1rem;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.addressDiv > label {
  margin-right: 2rem;
}
.blueCircle {
  height: 1.2rem;
  width: 1.2rem;
  margin-bottom: 0.1rem;
  translate: 0 4px;
  margin-right: 0.5rem;
}
.appFormSubmitBtn {
  color: white;
  background-color: #0317d1;
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  transition: all 0.28s;
  cursor: pointer;
}
.appFormSubmitBtn:hover {
  box-shadow: 2px 4px 2px 2px #ccc;
}
.submitBtn {
  display: flex;
  justify-content: center;
}

.originals > label > input,
.sufficientCopies > label > input,
.universityName > label > input {
  margin: 0 0.7rem 0 3rem;
  height: 1rem;
}
.upperDivItems > input:focus,
.addressDiv > input {
  outline: none;
}
@media only screen and (max-width: 1540px) {
  .upperDivItems > input {
    width: 100%;
  }
  .dropdownbranch > div,
  .dropdownYear > div {
    width: 100%;
  }
  .dropdownBranch-button,
  .dropdownYear-button {
    margin-left: 1rem;
  }
  .dropdownYear-content,
  .dropdownBranch-content {
    width: 25%;
    margin-left: 1rem;
  }

  .upperDivItems > div {
    margin-bottom: 0.4rem;
  }
  .certificatesOptions > div {
    margin: 0rem 1rem 0rem 1rem;
  }
}

@media only screen and (max-width: 1180px) {
  .upperDiv {
    grid-template-columns: auto;
    column-gap: 0;
  }
  .upperDivItems {
    flex-direction: column;
  }
  .upperDivItems > input {
    width: 90%;
  }
  .certificatesOptions {
    flex-direction: column;
  }
  .addressDiv {
    flex-direction: column;
  }
  .addressDiv > input {
    width: 90%;
  }
  .addressDiv > div {
    margin-bottom: 0.5rem;
  }
  .dropdownYear > div > button,
  .dropdownbranch > div > button {
    width: 95%;
  }
  .dropdownYear-content,
  .dropdownBranch-content {
    width: 50%;
  }
}
@media only screen and (max-width: 680px) {
  * {
    font-size: 1.06rem;
  }
  .btns > div {
    display: none;
  }
  .head > h1 {
    font-size: 2rem;
  }
  .login-form > h2 {
    font-size: 1.5rem;
  }
  .form > h2 {
    font-size: 1.4rem;
  }
  .innerDiv > label,
  .innerDiv > input {
    font-size: 1.1rem;
  }
  .forgotpassword {
    font-size: 1.08rem;
  }
  .procedure {
    padding: 2.2rem;
  }
  .procedure > h2 {
    font-size: 1.5rem;
  }
  .DOCUMENTS {
    font-size: 1rem;
    line-height: 1.9rem;
    padding: 1.2rem;
    padding-right: 1.5rem;
  }
  .DOCUMENTS > p {
    margin-left: 3rem;
  }
  .proceed,
  .download {
    font-size: 1.3rem;
    padding: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

@media only screen and (max-width: 485px) {
  * {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .form {
    width: 13rem;
  }
  .head > h1 {
    font-size: 1.8rem;
  }
  .innerDiv {
    margin-left: 1rem;
  }
  .innerDiv > input {
    width: 90%;
  }
  .appForm {
    padding: 1rem 1rem 1rem 0rem;
  }
  .dropdownbranch {
    width: 100%;
  }
  .originals > label > input,
  .sufficientCopies > label > input,
  .universityName > label > input {
    margin: 0 0.7rem 0 1rem;
    height: 1rem;
  }
}

.table-heading{
  padding-left: 1rem;
  padding-right: 1rem;
}